<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud operations</title>
</head>
<body>
    <h2>CRUD App from Express and Mongo</h2>
    <p>My Express App</p>
    <form action="/Admin/Contact" method="POST">
    <fieldset>
        <legend>Personal Info</legend>
        First name: <br>
        <input type="text" name="name">
        <br>
        Email : <br>
        <input type="email" name="email">
        <br>
        Message :<br>
        <input type="text" name="message">
        <br>
        <br><br>
        <input type="submit" value="Generate">
    </fieldset>
    </form>
</body>
</html>